* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}
section {
  max-width: 500px;
  /* margin: 0px 20px; */
  position: relative;
  display: flex;
  justify-content: center;
}
.logo {
  max-width: 200px;
  margin: 20px;

}
.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgb(223, 223, 223);
  background: white;
  z-index: 200
}
.info__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
  text-align: center;
  color: rgba(38, 38, 38, 0.666);
}
h1  {
  font-size: 16px;
}
p {
  line-height: 28px;
  margin: 20px 0;
}
.p_title {
  color: black;
  font-size: 24px;
  margin: 20px 0;
  font-weight: 400;
}
p::first-letter {

}
.info__block {
  /* min-height: 90vh; */
  padding: 10px 0px;
  border-bottom: 1px solid rgb(223, 223, 223);
    margin: 70px 20px;
}
.svoikh {
  background: rgba(221, 160, 221, 0.598);
    margin: 0;

    padding: 0 20px;
    padding-top: 25px;
}
.svoikh h2 {
  color: black;
  font-size: 3rem;
}
.svoikh .dazhe {
  font-style: italic;
  opacity: .7;
}
.examples {
  margin: 0px 20px;
  margin-top: 30px;
  text-align: justify;
}

.examples li span {
  font-weight: 800;
}
.examples li  {
  line-height: 25px;
  margin: 20px 0px;
}
.iphone {
  width: 100% ;
}
button {
  padding: 20px;
  margin: 50px 0;
  font-size: 18px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  position: relative;
}
.foot {
  margin: 0;
  padding: 10px;
}
#loader {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 201;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load {
  width: 100px;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0% {
      transform: scale(1.05);
  }
  50% {
      transform: scale(1);
  }
100% {
  transform: scale(1.05);
}
}